<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://necolas.github.io/normalize.css/8.0.1/normalize.css"
    />
    <link rel="stylesheet" href="./css/shared.css" />
    <link rel="stylesheet" href="./css/login.css" />
    <title>Chat - Login</title>
  </head>
  <body>
    <main>
      <section class="container">
        <div class="appName">
          <h1>Chat app</h1>
        </div>
        <div class="login">
          <form>
            <input type="email" placeholder="email" /><input
              type="password"
              placeholder="contraseña"
            />
            <div class="buttons">
              <button id="login">Login</button>
              <button id="register">Register</button>
            </div>
          </form>
        </div>
      </section>
    </main>
  </body>
</html>
