<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://necolas.github.io/normalize.css/8.0.1/normalize.css"
    />
    <link rel="stylesheet" href="./css/shared.css" />
    <link rel="stylesheet" href="./css/chat.css" />
    <title>Chat</title>
  </head>
  <body>
    <main>
      <section class="me">
        <h2 class="name">Welcome!</h2>
        <img class="profile-img" src="../img/profile.png" />
      </section>
      <section class="chats" id="chat-section"></section>
      <section class="settings">
        <svg
          viewBox="0 0 24 24"
          width="48px"
          height="48px"
          fill="white"
          id="chats-list"
        >
          <path
            d="M6,17C6,15 10,13.9 12,13.9C14,13.9 18,15 18,17V18H6M15,9A3,3 0 0,1 12,12A3,3 0 0,1 9,9A3,3 0 0,1 12,6A3,3 0 0,1 15,9M3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V5A2,2 0 0,0 19,3H5C3.89,3 3,3.9 3,5Z"
          />
        </svg>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="white"
          width="48px"
          height="48px"
          id="users-list"
        >
          <path d="M0 0h24v24H0z" fill="none" />
          <path
            d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"
          />
        </svg>
        <svg
          viewBox="0 0 24 24"
          fill="white"
          width="48px"
          height="48px"
          id="signout"
        >
          <path
            d="M16,17V14H9V10H16V7L21,12L16,17M14,2A2,2 0 0,1 16,4V6H14V4H5V20H14V18H16V20A2,2 0 0,1 14,22H5A2,2 0 0,1 3,20V4A2,2 0 0,1 5,2H14Z"
          />
        </svg>
      </section>
      <section class="chat" id="chat-container">
        <div class="messages" id="messages-container">
          <br />
        </div>
        <div class="type" id="type">
          <form id="send-message">
            <input type="textarea" class="writter" id="written-message" />
            <button>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="black"
                width="48px"
                height="48px"
              >
                <path d="M0 0h24v24H0z" fill="none" />
                <path d="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z" />
              </svg>
            </button>
          </form>
        </div>
      </section>
    </main>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.3/socket.io.js"></script>
  <script type="module" src="./javascript/chat.js"></script>
</html>
