.container {
  -moz-box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.33);
  -webkit-box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.33);
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.33);
  display: grid;
  grid-template-columns: 40% 1fr;
  grid-template-rows: 1fr;
  height: 60%;
  overflow: hidden;
  width: 70%;
  max-width: 1200px;
  min-width: 800px;
}

@media screen and (max-width: 800px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 70%;
    min-width: 0;
    width: 100%;
    height: 100%;
  }
}

.appName {
  background-color: var(--royal-blue-dark);
  color: white;
  display: grid;
  place-items: center;
}

.login {
  display: grid;
  place-items: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

input {
  padding: 1em;
  width: 20em;
  border-radius: 5px;
  border: 3px solid var(--middle-yellow);
  color: var(--royal-blue-dark);
}

input::placeholder {
  color: var(--royal-blue-dark);
}

.buttons {
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: space-between;
}

button {
  width: 9em;
  border: none;
  border-radius: 5px;
  background-color: var(--middle-yellow);
  color: var(--royal-blue-dark);
}

main {
  place-items: center;
}

#login,
#register {
  cursor: pointer;
}
